* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: Roboto, sans-serif;
}
.navbar-brand {
  margin-left: 20px;
}
.nav-item a {
  color: white;
  /* margin-left: 50px; */
}
.navbar-toggler {
  background-color: white;
}
.collapse {
  text-align: center;
}

.navbar-nav {
  margin-left: 90px;
}
.navbar {
  margin-bottom: 0px !important;
}

.nav-item a {
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

/* slider  */
.detail-box {
  color: white;
  margin-top: 180px;
  margin-left: 50px;
}
.btn-box a {
  text-decoration: none;
  margin: 3px;
}
.btn-box .btn-1 {
  background-color: rgb(82, 118, 192);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: larger;
}
.btn-box .btn-2 {
  background-color: rgb(211, 53, 53);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: larger;
}
.carousel_btn-box a {
  color: rgb(234, 240, 242);
  margin-top: 30px;
  font-size: 30px;
  margin-top: 548px;
  margin-left: -48px;
  margin-right: -53px;
  text-decoration: none;
}
.myCarousel {
  position: relative;
}
.right .carousel-control {
  position: absolute;
  /* top: 530; */
  bottom: 0 !important;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #d90d0d;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.left {
  /* position: absolute; */
  /* left: 0;
  bottom: 0; */
  /* color: #03a7d3; */
}
.right {
  /* position: absolute; */
  /* right: 0;
  left: 0; */
}

/* card  */
.card {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.card img {
  background-color: #03a7d3;
  border-radius: 50%;
  width: 30%;
  margin-top: 20px;
}
.card:hover img {
  background-color: #d90d0d;
}

.card-title {
  font-size: 25px;
}
.card-text {
  font-size: larger;
}

/* about us  */
.reed_more {
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 20px;
}

.reed_more:hover {
  border: 2px solid red;
  color: red;
  background-color: white;
}
.about_content {
  margin-top: 80px;
  margin-left: 50px;
}
.about_content p {
  font-size: larger;
}
.img_about img {
  height: 500px;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

/* let us  */

.let_us {
  background: linear-gradient(110deg, transparent 25%, #020230 25%);
}

.img_let img {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}

.let_content {
  color: white;
  margin-left: 10px;
  margin-top: 120px;
  margin-bottom: 30px;
}
.let_content p {
  font-size: larger;
}
.ree_more {
  background-color: rgb(206, 16, 16);
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}

.ree_more:hover {
  border: 2px solid red;
  color: red;
  background-color: #020230;
}

/* Our Pricing */

.pricing {
  border: 2px solid black;
  border-radius: 10px;
}
.pricing:hover {
  background-color: #03a7d3;
}
.pricing p {
  font-size: larger;
}
.see_datils {
  background-color: rgb(206, 16, 16);
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 120px;
}
.see_datils:hover {
  background-color: #03a7d3;
}

@media screen and (min-width: 480px) {
  .see_datils {
    /* margin-left: 210px; */
  }
}

/* textmonila */
.textmonila {
  font-size: 35px;
  text-align: center;
}
.textmonila_p {
  font-size: 20px;
  text-align: center;
}
.box img {
  border-radius: 50%;
  height: 150px;
  margin-top: 10px;
}
.fa {
  font-size: 30px;
  margin-left: 650px;
  margin-top: 20px;
}
.box {
  display: flex;
  /* border: 2px solid gainsboro; */
}
.client_info {
  margin-left: 20px;
  font-size: larger;
}

/* Get In Touch  */
.Send {
  background-color: red;
  color: white;
  padding: 8px 50px;
  margin-left: 120px;
  font-size: larger;
  font-weight: bold;
}
.Send:hover {
  border: 2px solid red;
  background-color: aliceblue;
  color: red;
}

.form-control {
  padding: 20px;
}
/* footer  */
.footer_section {
  height: 100%;
  background-color: #020230;
}

.subscribe {
  background-color: red;
  color: white;
  padding: 8px 50px;
  margin-right: 80px;
  font-size: larger;
  font-weight: bold;
}
.subscribe:hover {
  border: 2px solid red;
  background-color: aliceblue;
  color: red;
}

p a {
  text-decoration: none;
  font-size: larger;
  color: white;
}

p a:hover {
  color: red;
}

.sociyal a {
  font-size: 30px;
  color: white;
  margin-left: 5px;
}
.hr {
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
