* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  font-family: Roboto, sans-serif;
}
.navbar-brand {
  margin-left: 20px;
}
.nav-item a {
  color: white;
  margin-left: 50px;
}
.navbar-toggler {
  background-color: white;
}
.collapse {
  text-align: center;
}
/* .navbar-nav {
  margin-left: 90px;
} */
.nav-serch {
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

/* slider  */
.detail-box {
  color: white;
  margin-top: 180px;
  margin-left: 50px;
}
.btn-box a {
  text-decoration: none;
  margin: 3px;
}
.btn-box .btn-1 {
  background-color: rgb(82, 118, 192);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: larger;
}
.btn-box .btn-2 {
  background-color: rgb(211, 53, 53);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: larger;
}
.carousel_btn-box a {
  color: rgb(234, 240, 242);
  margin-top: 30px;
  font-size: 30px;
  margin-top: 548px;
  margin-left: -48px;
  margin-right: -53px;
  text-decoration: none;
}
/* 
.left {
  margin-top: 500px;
  margin-right: 20px;
  color: #03a7d3;
}
.right {
  margin-top: 500px;
  margin-left: 20px;
} */

/* card  */
.card {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.card img {
  background-color: #03a7d3;
  border-radius: 50%;
  width: 30%;
  margin-top: 20px;
}

/* about us  */
.reed_more {
  background-color: orangered;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}

.reed_more:hover {
  border: 2px solid red;
  color: red;
  background-color: white;
}
.about_content {
  margin-top: 80px;
  margin-left: 50px;
}
.img_about img {
  height: 500px;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

/* let us  */

.let_us {
  background: linear-gradient(110deg, transparent 25%, #020230 25%);
}

.img_let img {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.let_content {
  color: white;
  margin-left: 10px;
  margin-top: 120px;
  margin-bottom: 30px;
}

.ree_more {
  background-color: rgb(206, 16, 16);
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
}

.ree_more:hover {
  border: 2px solid red;
  color: red;
  background-color: #020230;
}

/* Our Pricing */

.pricing {
  border: 2px solid black;
  border-radius: 10px;
}
.pricing:hover {
  background-color: #03a7d3;
}
.see_datils {
  background-color: rgb(206, 16, 16);
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 80px;
}
.see_datils:hover {
  background-color: #03a7d3;
}

/* Get In Touch  */
.Send {
  background-color: red;
  color: white;
  padding: 8px 50px;
  margin-left: 120px;
  font-size: larger;
  font-weight: bold;
}
.Send:hover {
  border: 2px solid red;
  background-color: aliceblue;
  color: red;
}
/* footer  */
.footer_section {
  height: 100%;
  background-color: #020230;
}

.subscribe {
  background-color: red;
  color: white;
  padding: 8px 50px;
  margin-right: 80px;
  font-size: larger;
  font-weight: bold;
}
.subscribe:hover {
  border: 2px solid red;
  background-color: aliceblue;
  color: red;
}

p a {
  text-decoration: none;
  font-size: larger;
  color: white;
}

p a:hover {
  color: red;
}

.sociyal a {
  font-size: 30px;
  color: white;
  margin-left: 5px;
}
.hr {
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
